In [8]:
import pandas as pd
import numpy as np

In [3]:
#Series using list
list = [11,22,33,44,55]
series1 = pd.Series(list)
series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [5]:
# Series using Tuple
tuple1 = (11,22,33,44,55)
Series1 = pd.Series(tuple1)
Series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [6]:
# Series using Dictionary
dict1 ={0:11,1:22,2:33,3:44,4:55}
series1 = pd.Series(dict1)
series1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [9]:
# Series using Numpy
numpy = np.array([11,22,33,44,55])
series1 = pd.Series(numpy)
series1

0    11
1    22
2    33
3    44
4    55
dtype: int32

In [10]:
# Series using scalar value
series1 = pd.Series(11,index=[0,1,2,3,4])
series1

0    11
1    11
2    11
3    11
4    11
dtype: int64

In [11]:
#Series using list with our own indexes
list1= [11,22,33,44,55]
series1 = pd.Series(list1,index=['a','b','c','d','e'])
series1

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [15]:
# Series using list with datatype
list1= [11,22,33,44,55]
series1 = pd.Series(list1,index=['a','b','c','d','e'],dtype='float')
series1

a    11.0
b    22.0
c    33.0
d    44.0
e    55.0
dtype: float64

In [17]:
# Accessing the data from series we can perform indexing and slicing
s1 = pd.Series([11,22,33,44,55])
s1[0]

11

In [18]:
s1[0:2]

0    11
1    22
dtype: int64

In [25]:
# Operations on pandas series
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50,60])
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5     NaN
dtype: float64

In [26]:
s1+s2

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
5     NaN
dtype: float64

In [27]:
s1/s2

0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
5    NaN
dtype: float64

In [28]:
s1*s2

0     10.0
1     40.0
2     90.0
3    160.0
4    250.0
5      NaN
dtype: float64

In [29]:
(s1+s2)**2

0     121.0
1     484.0
2    1089.0
3    1936.0
4    3025.0
5       NaN
dtype: float64